h2,
h3,
h4,
h5 {
  color: #3f3d4b;
}

.blurb {
  background-color: #3f3d4b;
}

.opening-blurb {
  padding-top: 6rem;
  padding-left: 4rem;
  width: 60rem;
}

.landingContainer {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/cadastre-top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: top left;
}

.howitworks {
  z-index: 2;
  width: 100%;
  background-image: url("./assets/cadastre.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  transform: translate(0, 10px);
}

.Grid {
  z-index: 1000;
  width: 60vw;
  height: 40vh;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.Grid-item {
  width: 32%;
  height: 32%;
  margin: 0.5%;
}

footer {
  background-color: #3f3d4b;
  transform: translate(0, 20px);
  color: white;
}

@media (max-width: 576px) {
  .opening-blurb {
    padding-top: 6rem;
    padding-left: 4rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .opening-blurb {
    padding-top: 6rem;
    padding-left: 4rem;
  }
}
